body{
    font-family: sans-serif;
    background-color: grey;
}
header{
    background:lightcoral;
    text-align: center;
    height: 80px;
    position: fixed;
    width: 1600px;
    
}
header figure
{
    position: absolute;
    margin-left: 0px;
    top :2px;

    float: left;
}
li {
    display: inline;
    list-style: none;
    width :10px;
    padding: 10px;
    color:green;
    line-height: 50px;
    
}

article1
{
    height: 700px;
    width: 520px;
    background-color:burlywood;
    float :left;

}


article2{
    height: 700px;
    width: 520px;
    background-color:pink;
    float: left;
}
article3
{ 
    height: 700px;
    width: 528px;
    background-color:paleturquoise;
    float :left;
}
section 
{
    display:flex;
}
footer{
    float: right;
    background-color: black;
    width:1600px;
    height:100px;
    
    top:2px;
    
}

    
